Package: com.hombergerkurde.quicktranslate
Name: QuickTranslate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: QuickTranslate - inline translate buttons + settings
Maintainer: You
Author: You
Section: Tweaks
Depends: preferenceloader
